---
layout: default
---

<!--카테고리 탭 main 페이지-->
<!--
{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}
<div class="content">
    {{ content }}
</div>
-->

<div class="columns is-multiline">
    {% if post.categories == cloud %}
        {% for post in site.posts %}
            <div class="column is-12">
             {% include post-card.html %}
            </div>
        {% endfor %}
    {% endif %}
  </div>
